<div class="header">
  <mat-toolbar style="background: #fff !important;">
    <mat-toolbar-row>
        <mat-icon (click)="goBack()" class="navIcon" aria-hidden="false">
            keyboard_arrow_left</mat-icon>
      <span>Add Note</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="form">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Notes" [(ngModel)]="description" rows="7"></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button color="basic" (click)="addNote()">Save</button>
</div>