.header{
    padding-top: 4px;
    border-bottom: solid 1px #e6e1c6;
    font-size: 20px;
    font-weight: 500;
}
.note{
    margin-top: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-left: 11px;
    width: 85%;
    height:90%;
}