.header{
    padding-top: 4px;
    border-bottom: solid 1px #e6e1c6;
    font-size: 20px;
    font-weight: 500;
    color:rgba(0, 17, 17, 0.685);
}
.example-spacer {
    flex: 1 1 auto;
  }
.navIcon{
    padding: 0px 10px;
}


.note{
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-left: 11px;
    width: 85%;
    color:rgba(0, 17, 17, 0.685);
}
